header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
/*Footer*/
.footer{
    display: flex;
    gap: 67.5rem; /*Espacio entre los hijos*/
}
.dere p{
    text-align:center;
}