/*CONTACTO*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #b20000;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.top-bar {
  position: relative;  /* referencia para el logo absoluto */
  display: flex;
  justify-content: space-between; /* links a la izquierda, icons a la derecha */
  align-items: center;
  width: 100%;
  padding:2px;
}

/* Links a la izquierda */
.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #610909;
  font-weight: bold;
}
/* Íconos a la derecha */
.icons a {
  margin-left: 20px;
}

/* Logo centrado */
.logo {
  position:relative;       
  left:95px;                
  transform: translateX(-50%); /* centra exactamente */
}

.logo img {
  max-height: 60px;
}
/* Navbar centrado debajo */
.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 10px 0 0 0;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #610909;
}
.form-contacto {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: #fff;
    border: 2px solid #b20000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}    
.form-contacto legend {
    font-size: 18px;
    font-weight: bold;
    color: #b20000;
    margin-bottom: 10px;
}
.form-contacto label{
    font-weight: bold;
    display: block;
    margin-top: 12px;
}
.form-contacto input,
.form-contacto select,
.form-contacto textarea {
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #610909;
    border-radius: 6px;
    font-size: 14px;
}
.form-contacto textarea {
    min-height: 100px;
    resize: vertical;
}
.form-contacto button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #fce9c8;
    color: #610909;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}