
/*CONTACTO*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #b20000;
}
main{
    margin-top: 180px;
}
a {
    color: #610909;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
/* Contenedor del formulario */
.form-contacto {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: #fff;
    border: 2px solid #b20000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}   
/* Títulos dentro del formulario */ 
.form-contacto legend {
    font-size: 18px;
    font-weight: bold;
    color: #b20000;
    margin-bottom: 10px;
}
/* Labels */
.form-contacto label{
    font-weight: bold;
    margin-top: 12px;
}
/* Inputs, selects y textarea */
.form-contacto input,
.form-contacto select,
.form-contacto textarea {
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #610909;
    border-radius: 6px;
    font-size: 14px;
}
/* Textarea más grande */
.form-contacto textarea {
    min-height: 100px;
    resize: vertical;
}
/* Botón */
.form-contacto button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #fce9c8;
    color: #610909;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}
/* Efecto hover en botón*/
.form-contacto button:hover {
    background-color: #f36161;
}
/* Hover en inputs, selects y textarea */
.form-contacto input:hover,
.form-contacto select:hover,
.form-contacto textarea:hover {
    border-color: #b30059;
    box-shadow: 0 0 5px #ff66b2;
    transition: 0.3s;
}
/* Efecto cuando el campo esta activo*/
.form-contacto input:focus,
.form-contacto select:focus,
.form-contacto textarea:focus {
    outline: none;
    border-color: #ff66b2;
    box-shadow: 0 0 8px #ffb3d9;
    background-color: #ffe6f0;
    transition: 0.3s;
}
/* Animación cuando carga el formulario*/
.form-contacto {
    animation: aparecer 1s ease-in-out;
    box-shadow: 0 0 10px rgba(179, 0, 89, 0.2);
}
@keyframes aparecer {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Efecto hover en el boton enviar */
.form-contacto button:hover,
.form-contacto input[type="submit"]:hover {
    background-color: #b30059;
    color: white;
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 8px #ff66b2;
}
.card{
    width: 190px;
    height: 245px;
    background: #b20000;
    position: relative;
    overflow: hidden;
}
.card::before {
content: '';
position: absolute;
width: 100px;
background-image: -o-linear-gradient(18e0deg, rgb(0, 183, ));
}