body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cuerpo{
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 243px;
    height: 120px;
}
.Form-contenido{
    background-color: white;
    padding: 30px;
    width: 100%;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.3);
    animation: aparecer 0.3s ease-out;
}
@keyframes aparecer {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.espacio{
    width: auto;
    height: 50px;
}
.Form input{
    width: 95%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
#btn-uno{
    background-color: #4400ff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}
#cerrarForm{
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #b20000;
    width: 50px;
    border-radius: 15px;
    top: 25px;
    right: 15px;
    cursor: pointer;
}
#btn-dos,
#btn-tres{
    background-color: lightgray;
    color: #000;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 1rem;
}