/*CSS*/
/*Selector por etiqueta*/
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#b20000;
}

a{
    color:#610909;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
main{
    margin: 70px;
    padding: 70px;
}
/*Selectores por clase*/
/*Main*/
.cont{
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 20px;
    justify-content: center;
}
.card{
    
    border-radius: 10px;
    height: 250px;
    width: 500px;
    box-shadow: 5px 5px 15px rgb(204, 204, 204);
    margin: 20px;
    padding: 20px;
    text-align: left;
}
.somos{
        display: column;
        text-align: center;

}
#quienes{
    border-radius: 10px;
    height: 250px;
    width: 500px;
    box-shadow: 5px 5px 15px rgb(204, 204, 204);
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-size: 1.5rem;
}
.card h2{
    font-size: 40px;
}
main h2{
    text-align: center;
    font-size: 3rem;
}