/*CSS*/
/*Selector por etiqueta*/
:root{
    --color-rojoclaro: #b20000;
    --color-rojooscuro: #610909;
    --color-sombra: rgb(204, 204, 204);
    --color-tarjeta: #ccc;
    --color-blanco: #fff;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-rojoclaro);
    background-image: url('../img/logos/resized-logo6nosotros.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
a{
    color: var(--color-rojooscuro);
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
main{
    margin: 70px;
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
}
.filosofia{
    margin-top: 145px;
}
/*Selectores por clase*/
/*Main*/
.cont{
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 500px;
    box-shadow:var(--color-sombra);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: 0.5s ease;
    background-color:var(--color-tarjeta);
}
.card:hover{
       transform: scale(1.05);
}
#quienes{
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 5px 5px 15px var(--color-sombra);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.card h2{
    font-size: 2rem;
}
main h2{
    text-align: center;
    font-size: 3rem;
}
.cont2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}
.tarje{
    flex-direction: column;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 5px 5px 15px var(--color-sombra);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: 0.5s ease;
    background-color: var(--color-tarjeta);
    transition: 0.5s ease;
}
.tarje:hover{
    transform: scale(1.05);
}
.icono{
    background-color: var(--color-rojoclaro);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto 10px auto;
}
.icono p{
    color: var(--color-blanco);
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}
.somos{
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
}
.somos h2{
    color: gray;
}
.card2{
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 5px 5px 15px var(--color-sombra);
    margin: 20px;
    padding: 20px;
    text-align: left;
    transition: 0.5s ease;
    background-image: url('../img/logos/fondonosotros.jpeg');
    background-size: cover;
    background-position: center;
}
.card2:hover{
       transform: scale(1.05);
}
.card2 p{
    color:var(--color-blanco);
}

@media (max-width: 992px){
    main{
        padding: 40px;
        margin: 10px;
    }
    .card, .targe, .card2, #quienes{
        max-width: 90%;
    }
    .card h2{
        font-size: 1.8rem;
    }
    main h2{
        font-size: 2.5rem;
    }
}