/*CSS*/
/*Selector por etiqueta*/
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#b20000;
}

a{
    color:#610909;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
main{
    margin: 60px;
    padding: 60px;
}
/*Selectores por clase*/
/*Main*/
.cont{
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 20px;
    justify-content: center;
}
.card{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    height: 26rem;
    width: 50rem;
    box-shadow: 5px 5px 15px rgb(97, 96, 96);
    margin: 20px;
    font-size: 2rem;
}
main h2{
    text-align: center;
    font-size: 3rem;
}