body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#b20000;
}
main{
    margin-top: 200px;
}
a{
    color:#610909;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
.main h2{
    font-size: 1.8rem;
    margin: 0%;
    text-align: center;
    padding-bottom: 0.5rem;
}
.flex-productos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;  
    gap: 10px;             
    padding: 20px;
}

/* Cada producto */
.producto {
    position: relative;
    flex:290px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.producto:hover{
  transform: scale(1.05);
}

/* Imágenes con tamaño uniforme */
.producto img {
    width: 100%;
    height:600px;         /*todos los productos de la misma altura*/
    display: block;
}
.producto button {
    background: #000000;
    color: #fff;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.producto button:hover {
    background: #85010c;
}
